<div id="charactersheet">
  <div class="geninfo">
    <div id="charBasicInfo">
      Age:<input type="number" ng-model="c.age" />
      Player Name:<input type="text" ng-model="c.player_name"/>
      Name:<input type="text" ng-model="c.name" />
      Gender:<input type="text" ng-model="c.gender" />
    </div>
    <div id="charStats">
      <b>Alignment:</b><input type="text" ng-model="c.alignment" /><br />
      <b>M.D.C.:</b><input type="number" ng-model="c.mdc.cur" />/
      <input type="number" ng-model="c.mdc.max" />
      <b>S.D.C.:</b><input type="number" ng-model="c.sdc.cur" />/
      <input type="number" ng-model="c.sdc.max" /><br />
      <b>Horror/Awe Factor:</b><input type="number" ng-model="c.awe" />
      <b>H.P.:</b><input type="number" ng-model="c.hp.cur"/>/
      <input type="number" ng-model="c.hp.max" /><br />
      <b>Level:</b><input type="number" ng-model="c.level" />
      <b>Experience Points:</b><input type="number" ng-model="c.exp" /><br />
      <b>O.C.C./P.C.C.:</b><input type="text" ng-model="c.occ"/><br />
      <b>Race/R.C.C.:</b><input type="text" ng-model="c.rcc"/><br />
      <b>I.Q.:</b><input type="number" ng-model="c.iq.value"/>
      Skill Bonus: +<input type="number" ng-model="c.iq.bonus"/>%<br />
      <b>M.E.:</b><input type="number" ng-model="c.me.value"/>
      Save vs. Psionics/Insanity: +<input type="number" ng-model="c.me.bonus" /><br />
      <b>M.A.:</b><input type="number" ng-model="c.ma.value"/>
      Trust/Intimidate: +<input type="number" ng-model="c.ma.bonus" />%<br />
      <b>P.S.:</b><input type="number" ng-model="c.ps.value"/>
      Hand to Hand Damage Bounus: +<input type="number" ng-model="c.ps.bonus"/><br />
      <b>P.P:</b><input type="number" ng-model="c.pp.value"/>
      Strike/Parry/Dodge Bonus: +<input type="number" ng-model="c.pp.bonus"><br />
      <b>P.E.:</b><input type="number" ng-model="c.pe.value"/>
      Save vs. Coma:+<input type="number" ng-model="c.pe.bonus.coma"/>%
      Poison/Magic/Pain: +<input type="number" ng-model="c.pe.bonus.pain"/><br />
      <b>P.B.:</b><input type="number" ng-model="c.pb.value"/>
      Charm/Impress: +<input type="number" ng-model="c.pb.bonus"/>%<br />
      <b>SPD (run):</b><input type="number" ng-model="c.spd.run"/>(ft/sec)
      <b>SPD (dig):</b><input type="number" ng-model="c.spd.dig"/>(ft/sec)<br />
      <b>SPD (fly):</b><input type="number" ng-model="c.spd.fly"/>(ft/sec)
      <b>SPD (swim):</b><input type="number" ng-model="c.spd.swim"/>(ft/sec)<br />
      <b>P.P.E.:</b><input type="number" ng-model="c.ppe.cur"/>/
      <input type="number" ng-model="c.ppe.max"/>
      <b>I.S.P.:</b><input type="number" ng-model="c.isp.cur"/>/
      <input type="number" ng-model="c.isp.max"/>
      <b>Chi:</b><input type="number" ng-model="c.chi.cur"/>/
      <input type="number" ng-model="c.chi.max"/><br />
      <b>Height</b><input type="number" ng-model="c.height"/>cm
      <b>Weight</b><input type="number" ng-model="c.weight"/>kg
    </div>
  </div>
  <div id="skillSheet">
    <div id="occSkills">
      <h2>O.C.C. Skills</h2>
      <div class="skillObject" ng-repeat="skill in c.occ">
        <input class="skillName" type="text" ng-model="skill.name">+
        <input type="number" ng-model="skill.rate"/>%/Lvl
        <input type="number" ng-model="skill.lvl"/>%
        <button type="button" ng-click="delOCCSkill($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input class="addButton" type="button" ng-click="addOCCSkill()" value="[Add Skill]" />
    </div>
    <div id="occRelatedSkills">
      <h2>O.C.C. Related Skills</h2>
      <div class="skillObject" ng-repeat="skill in c.related">
        <input class="skillName"  type="text" ng-model="skill.name">+
        <input type="number" ng-model="skill.rate"/>%/Lvl
        <input type="number" ng-model="skill.lvl"/>%
        <button type="button" ng-click="delRelatedSkill($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input class="addButton" type="button" ng-click="addRelatedSkill()" value="[Add Skill]" />
    </div>
    <div id="secondarySkills">
      <h2>Secondary Skills</h2>
      <div class="skillObject" ng-repeat="skill in c.secondary">
        <input class="skillName" type="text" ng-model="skill.name">+
        <input type="number" ng-model="skill.rate"/>%/Lvl
        <input type="number" ng-model="skill.lvl"/>%
        <button type="button" ng-click="delSecondarySkill($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input class="addButton" type="button" ng-click="addSecondarySkill()" value="[Add Skill]" />
    </div>
  </div>
</div>
