<div id="charactersheet">
  <div class="geninfo">
    <div id="charBasicInfo">
      Age:<input type="number" ng-model="c.age" />
      Player Name:<input type="text" ng-model="c.player_name"/>
      Name:<input type="text" ng-model="c.name" />
      Gender:<input type="text" ng-model="c.gender" />
    </div>
    <div id="charStats">
      <b>Alignment:</b><input type="text" ng-model="c.alignment" /><br />
      <b>M.D.C.:</b><input type="number" ng-model="c.mdc.cur" />/
      <input type="number" ng-model="c.mdc.max" />
      <b>S.D.C.:</b><input type="number" ng-model="c.sdc.cur" />/
      <input type="number" ng-model="c.sdc.max" /><br />
      <b>Horror/Awe Factor:</b><input type="number" ng-model="c.awe" />
      <b>H.P.:</b><input type="number" ng-model="c.hp.cur"/>/
      <input type="number" ng-model="c.hp.max" /><br />
      <b>Level:</b><input type="number" ng-model="c.level" />
      <b>Experience Points:</b><input type="number" ng-model="c.exp" /><br />
      <b>O.C.C./P.C.C.:</b><input type="text" ng-model="c.occ"/><br />
      <b>Race/R.C.C.:</b><input type="text" ng-model="c.rcc"/><br />
      <b>I.Q.:</b><input type="number" ng-model="c.iq.value"/>
      Skill Bonus: +<input type="number" ng-model="c.iq.bonus"/>%<br />
      <b>M.E.:</b><input type="number" ng-model="c.me.value"/>
      Save vs. Psionics/Insanity: +<input type="number" ng-model="c.me.bonus" /><br />
      <b>M.A.:</b><input type="number" ng-model="c.ma.value"/>
      Trust/Intimidate: +<input type="number" ng-model="c.ma.bonus" />%<br />
      <b>P.S.:</b><input type="number" ng-model="c.ps.value"/>
      Hand to Hand Damage Bounus: +<input type="number" ng-model="c.ps.bonus"/><br />
      <b>P.P:</b><input type="number" ng-model="c.pp.value"/>
      Strike/Parry/Dodge Bonus: +<input type="number" ng-model="c.pp.bonus"><br />
      <b>P.E.:</b><input type="number" ng-model="c.pe.value"/>
      Save vs. Coma:+<input type="number" ng-model="c.pe.bonus.coma"/>%
      Poison/Magic/Pain: +<input type="number" ng-model="c.pe.bonus.pain"/><br />
      <b>P.B.:</b><input type="number" ng-model="c.pb.value"/>
      Charm/Impress: +<input type="number" ng-model="c.pb.bonus"/>%<br />
      <b>SPD (run):</b><input type="number" ng-model="c.spd.run"/>(ft/sec)
      <b>SPD (dig):</b><input type="number" ng-model="c.spd.dig"/>(ft/sec)<br />
      <b>SPD (fly):</b><input type="number" ng-model="c.spd.fly"/>(ft/sec)
      <b>SPD (swim):</b><input type="number" ng-model="c.spd.swim"/>(ft/sec)<br />
      <b>P.P.E.:</b><input type="number" ng-model="c.ppe.cur"/>/
      <input type="number" ng-model="c.ppe.max"/>
      <b>I.S.P.:</b><input type="number" ng-model="c.isp.cur"/>/
      <input type="number" ng-model="c.isp.max"/>
      <b>Chi:</b><input type="number" ng-model="c.chi.cur"/>/
      <input type="number" ng-model="c.chi.max"/><br />
      <b>Height</b><input type="number" ng-model="c.height"/>cm
      <b>Weight</b><input type="number" ng-model="c.weight"/>kg
    </div>
    <div id="charAbilites">
      <h2>Abilites/Implants</h2>
      <div class="Object implantObject" ng-repeat="implant in c.abilities">
        <input type="text" ng-model="implant.name" class="implantName"/>
        <input type="text" ng-model="implant.effect" class="implantEffect"/>
        <button ng-click="delImplant($index)" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
      </div>
      <input class="addButton" type="button" ng-click="addImplant()" value="[ Add Ability/Implant ]" />
    </div>
  </div>
  <div id="charSaves">
    <div id="physicalSaves">
      <h3>Physical Saves (Add P.E. Bonus):</h3>
      Save vs. Lethal Toxin:(14)+<input type="number" ng-model="c.saves.toxin.lethal"/>
      Save vs. Non-Lethal Toxin:(16)+<input type="number" ng-model="c.saves.toxin.non_lethal"/>
      Save vs. Harmful Drugs:(15)+<input type="number" ng-model="c.saves.drugs"/>
      Save vs. Disease:(14)+<input type="number" ng-model="c.saves.disease"/>
      Save vs. Electrocution:(18/14)+<input type="number" ng-model="c.saves.electro"/>
      Save vs. Extreme Temp:(16)+<input type="number" ng-model="c.saves.temp"/>
      Save vs. Pain:(16/14)+<input type="number" ng-model="c.saves.pain"/>
      Save vs. Coma/Death:+<input type="number" ng-model="c.saves.coma"/>%
    </div>
    <div id="magicalSaves">
      <h3>Magical Saves (Add P.E. Bonus):</h3>
      Save vs. Spell Magic:(12)+<input type="number" ng-model="c.saves.spell"/>
      Save vs. Ritual Magic:(16)+<input type="number" ng-model="c.saves.ritual"/>
      Save vs. Ward Magic:(14)+<input type="number" ng-model="c.saves.ward"/>
      Save vs. Circle Magic:(16)+<input type="number" ng-model="c.saves.circle"/>
      Save vs. Faerie Magic:(16)+<input type="number" ng-model="c.saves.faerie"/>
      Save vs. Magic Fumes:(14)+<input type="number" ng-model="c.saves.fumes"/>
      Save vs. Protection Circles:(16)+<input type="number" ng-model="c.saves.prot_cir"/>
      Save vs. Possesion:+<input type="number" ng-model="c.saves.possesion"/>
    </div>
    <div id="mentalSaves">
      <h3>Mental Saves (Add M.E. Bonus):</h3>
      Save vs. Insanity:(12)+<input type="number" ng-model="c.saves.insanity"/>
      Save vs. Psionics:(15/12/10)+<input type="number" ng-model="c.saves.psionics"/>
      Save vs. Mind Control:+<input type="number" ng-model="c.saves.mind"/>
      Save vs. Horror Factor:+<input type="number" ng-model="c.saves.horror"/>
    </div>
  </div>
  <div id="characterInformation">
    <h3>Character Information</h3>
    Appearance:<textarea ng-model="c.appearance"></textarea>
    Disposition:<textarea ng-model="c.disposition"></textarea>
    Distinguising Marks/Tattoos:<textarea ng-model="c.marks"></textarea>
    Father:<input type="text" ng-model="c.family.father"/>
    Mother:<input type="text" ng-model="c.family.mother"/>
    <div>
      Siblings:
      <div ng-repeat="sib in c.family.siblings" class="siblingObject Object">
        <input type="text" ng-model="sib.relationship"/>
        <input type="text" ng-model="sib.name"/>
        <button type="button" ng-click="delSibling($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input type="button" ng-click="addSibling()" value="[Add Sibling]"/>
    </div>
    Sentiments Toward the Coalition States:<textarea ng-model="c.sentiments.cs"></textarea>
    Sentiments Toward D-Bees:<textarea ng-model="c.sentiments.dbees"></textarea>
    Sentiments Toward Magic Users:<textarea ng-model="c.sentiments.magic"></textarea>
    Sentiments Toward M&M's (Borg's, Juicers, Crazies, etc.):<textarea ng-model="c.sentiments.mms"></textarea>
    <div id="characterHistory">
      <h3>Campaign History</h3>
      <table>
        <thead>
          <tr>
            <td class="campaignName">Campaign Name</td>
            <td class="campaignDate">Date</td>
            <td class="campaignGM">Gamemaster</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr class="Object historyObject" ng-repeat="his in c.histories">
            <td><input type="text" ng-model="his.name"/></td>
            <td><input type="date" ng-model="his.date"/></td>
            <td><input type="text" ng-model="his.gm"/></td>
            <td>
              <button type="button" ng-click="delHistory($index)" class="btn btn-danger btn-xs">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <input class="addButton" type="button" ng-click="addHistory()" value="[Add History]"/>
  </div>
</div>
