<div id="vehicleScreen">
  <div id="vehicle">
    <h2>Vehicle Log</h2>
    <div class="vehicleObject" ng-repeat="v in c.vehicles">
      <div class="vehicleGenInfo">
        <div class="vehiclePartOne">
          <table>
            <tr>
              <td>
                <b>Name:</b>
              </td>
              <td>
                <input type="text" ng-model="v.name"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Vehicle:</b>
              </td>
              <td>
                <input type="text" ng-model="v.vehicle"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Class:</b>
              </td>
              <td>
                <input type="text" ng-model="v.class"/>
              </td>
            </tr>
            <tr>
              <td>
              <b>Crew:</b>
              </td>
              <td>
                <input type="text" ng-model="v.crew"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Passengers:</b>
              </td>
              <td>
                <input type="text" ng-model="v.passengers"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Cargo Space:</b>
              </td>
              <td>
                <input type="text" ng-model="v.cargo"/>
              </td>
            </tr>
          </table>
        </div>
        <div class="vehiclePartTwo">
          <table>
            <tr>
              <td>
                <b>Height:</b>
              </td>
              <td>
                <input type="number" ng-model="v.height"/>m
              </td>
              <td>
                <b>Width:</b>
              </td>
              <td>
                <input type="number" ng-model="v.width"/>m
              </td>
            </tr>
            <tr>
              <td>
                <b>Length:</b>
              </td>
              <td>
                <input type="number" ng-model="v.length"/>m
              </td>
              <td>
                <b>Weight:</b>
              </td>
              <td>
                <input type="number" ng-model="v.weight"/>kg
              </td>
            </tr>
          </table>
        <b>Physical Strength:</b> Equal to <input type="number" ng-model="v.strength"/><br />
        <b>Range:</b><input type="text" ng-model="v.range"/><br />
        <b>Depth Tolerence:</b><input type="number" ng-model="v.depth_tol"/>ft<br />
        <b>Power System:</b><input type="text" ng-model="v.power"/><br />
        <b>Price</b><input type="number" ng-model="v.price"/> credits<br />
        </div>
      </div>
      <div class="vehicleDelButton">
        <button class="btn btn-danger btn-lg" type="button">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="vehicleMDC">
        <h5 class="center bold">M.D.C By Location</h5>
        <div class="vehicleMDCObject Object" ng-repeat="mdc in v.mdc">
          <input class="vehicleMDCName" type="text" ng-model="mdc.name"/>:
          <input type="number" ng-model="mdc.value.cur"/>/
          <input type="number" ng-model="mdc.value.max">
          <button type="button" class="btn btn-danger btn-xs" ng-click="delVMDC($parent.$index, $index)">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <input type="button" class="addButton" ng-click="addVMDC($index)" value="[ New MDC ]"/>
      </div>
      <div class="vehicleSpeed">
        <h5 class="center bold">Speed</h5>
        <table>
          <tr>
            <td>
              <b>Running/Driving</b>
            </td>
            <td>
              <input type="number" ng-model="v.speed.driving"/>kph
            </td>
          </tr>
          <tr>
            <td>
              <b>Flying</b>
            </td>
            <td>
              <input type="number" ng-model="v.speed.flying.air"/>kph
            </td>
          </tr>
          <tr>
            <td>
              <b>Flying in space:</b>
            </td>
            <td>
              <input type="number" ng-model="v.speed.flying.space"/>kph
            </td>
          </tr>
        </table>
        <div class="vehicleLeap center">
          <h5 class="italic center">Normal Leaping</h5>
          <input type="number" ng-model="v.leap.up"/>m Up,<br />
          <input type="number" ng-model="v.leap.across"/>m Across
          <h5 class="italic center">Thurster Assisted Leaping</h5>
          <input type="number" ng-model="v.thrust_leap.up"/>m Up,<br />
          <input type="number" ng-model="v.thrust_leap.across"/>m Across
        </div>
      </div>
      <div class="vehicleH2H">
        <h4 class="center italic">Hand to Hand Attacks</h4>
        <div class="vehicleH2HObject Object" ng-repeat="h in v.atks">
          <input class="vehicleH2HName" type="text" ng-model="h.name"/>: 
          <input class="vehicleH2HValue" type="text" ng-model="h.value"/>
          <button type="button" class="btn btn-danger btn-xs" ng-click="delVH2H($parent.$index, $index)">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <input type="button" class="addButton" ng-click="addVH2H($index)" value="[ New H2H Attack]"/>
      </div>
      <div class="vehicleWeaponsSystems">
        <h3 class="italic">Weapons Systems</h3>
        <table>
          <thead>
            <tr>
              <td class="vehicleWepSysNam">Weapons</td>
              <td class="vehicleWepSysDam">Damage</td>
              <td class="vehicleWepSysRag">Range</td>
              <td class="vehicleWepSysRad">Radius</td>
              <td class="vehicleWepSysPay">Payload</td>
              <td class="vehicleWepSysBon">+Aim/Burst</td>
              <td class="vehicleWepSysRat">Rate of Fire/Volly</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr class="vechileWeaponSystemsObject Object" ng-repeat="w in v.weapons">
              <td class="vehicleWepSysNam"><input type="text" ng-model="w.name"/></td>
              <td class="vehicleWepSysDam"><input type="text" ng-model="w.damage"/></td>
              <td class="vehicleWepSysRag"><input type="number" ng-model="w.range">m</td>
              <td class="vehicleWepSysRad"><input type="number" ng-model="w.radius">m</td>
              <td class="vehicleWepSysPay">
                <input type="number" ng-model="w.payload.cur"/>/
                <input type="number" ng-model="w.payload.max"/>
              </td>
              <td class="vehicleWepSysBon">
                (+<input type="number" ng-model="w.aim"/>
                /+<input type="number" ng-model="w.burst"/>)
              </td class="vehicleWepSysRat">
              <td><input type="text" ng-model="w.rate"/></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs" ng-click="delWepSys($parent.$index, $index)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="button" class="addButton" ng-click="addWepSys($index)" value="[ New Weapon System ]"/>
      </div>
      <div class="vehicleRPA">
        <h3 class="center italic">RPA Combat Skills</h3>
        <div class="RPAObject Object" ng-repeat="r in v.rpa">
          <b>RPA Skill:</b><input type="text" ng-model="r.name"/>
          <button class="btn btn-danger btn-xs RPASkillDelButton" ng-click="delRPASkill($parent.$index,$index)">
            <i class="fa fa-times"></i>
          </button><br />
          <b>Attacks Per Melee:</b>
          <input type="number" ng-model="r.atks.cur"/>/
          <input type="number" ng-model="r.atks.max"/><br />
          <table>
            <tr>
              <td>
                <b>Strike: +</b>
              </td>
              <td>
                <input type="number" ng-model="r.strike"/>
              </td>
              <td>
                <b>Parry: +</b>
              </td>
              <td>
                <input type="number" ng-model="r.parry"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Dodge(Flying): +</b>
              </td>
              <td>
                <input type="number" ng-model="r.dodge.flying"/>
              </td>
              <td>
                <b>Dodge: +</b>
              </td>
              <td>
                <input type="number" ng-model="r.dodge.normal"/>
              </td>
            </tr>
            <tr>
              <td>
                <b>Initiative: +</b>
              </td>
              <td>
                <input type="number" ng-model="r.initiative"/>
              </td>
              <td>
                <b>Roll with Punch/Fall: +</b>
              </td>
              <td>
                <input type="number" ng-model="r.fall"/>
              </td>
            </tr>
          </table>
        </div>
        <input class="addButton" type="button" ng-click="addRPASkill($index)" value="[ Add RPA Skill ]"/>
      </div>
    </div>
    <input type="button" class="addButton" ng-click="newVehicle()" value="[ New Vehicle ]"/>
  </div>
  <div id="inventory">
    <div id="backpackBox">
      <h2>Back Pack Inventory</h2>
      <div id="backpack">
        <b class="italic center">Items</b>
        <div class="inventoryObject Object" ng-repeat="inv in c.inventory.backpack">
          <input ng-model="inv.qty" type="number" />X
          <input ng-model="inv.name" type="text" />
          <button type="button" ng-click="delBackPack($index)" class="btn btn-danger btn-xs">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <input class="addButton" type="button" ng-click="addBackPack()" value="[Add Item]" />
      </div>
      <div id="ammo">
        <b class="italic center">Weapons and Ammo</b>
        <div class="inventoryObject Object" ng-repeat="inv in c.inventory.ammo">
          <input ng-model="inv.qty" type="number" />X
          <input ng-model="inv.name" type="text" />
          <button type="button" ng-click="delAmmo($index)" class="btn btn-danger btn-xs">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <input class="addButton" type="button" ng-click="addAmmo()" value="[Add Ammo]"/>
      </div>
    </div>
    <div id="personal">
      <h2>Personal</h2>
      <div class="inventoryObject Object" ng-repeat="inv in c.inventory.personal">
        <input ng-model="inv.qty" type="number" /> X
        <input ng-model="inv.name" type="text" /> @
        <input ng-model="inv.location" type="text" />
        <button type="button" ng-click="delPersonal($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input class="addButton" type="button" ng-click="addPersonal()" value="[Add Item]" />
    </div>
    <div id="cargo">
      <h2>Cargo</h2>
      <div class="inventoryObject Object" ng-repeat="inv in c.inventory.cargo">
        <input ng-model="inv.qty" type="number" />X
        <input ng-model="inv.name" type="text" />@
        <input ng-model="inv.location" type="text">
        <button type="button" ng-click="delCargo($index)" class="btn btn-danger btn-xs">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <input class="addButton" type="button" ng-click="addCargo()" value="[Add Item]" />
    </div>
  </div>
  <div class="savings">
    <h2>Savings</h2>
    <textarea class="savings" ng-model="c.savings"></textarea>
  </div>
</div>
